apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:latest
          args:
            - tunnel
            - --config
            - /etc/cloudflared/config.yaml
            - --no-autoupdate
            - run
          envFrom:
            - secretRef:
                name: cloudflared-tunnel
          volumeMounts:
            - name: config
              mountPath: /etc/cloudflared
              readOnly: true
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "10m"
      volumes:
        - name: config
          configMap:
            name: cloudflared-config
