apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: keycloak-operator
  namespace: keycloak
spec:
  interval: 1h
  sourceRef:
    kind: GitRepository
    name: keycloak-operator
    namespace: keycloak
  path: ./kubernetes
  prune: true
  targetNamespace: keycloak
  patches:
    - target:
        kind: Deployment
        name: keycloak-operator
      patch: |
        - op: replace
          path: /spec/template/spec/containers/0/resources
          value:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
