apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - storageclasses.yaml
  # ingress.yaml removed - access via: kubectl port-forward -n longhorn-system svc/longhorn-frontend 8080:80
